@import "tailwindcss";

@theme {
  --color-lime: #44c923;
  --color-slate: #8b9ea5;
  --color-indigo: #2d3047;
  --color-brown: #774e24;
  --color-rose: #f8c7cc;
  --color-primary: #4F46E5;
  --color-secondary: #22C55E;
  --color-background: #F9FAFB;
  --color-surface: #FFEBEB;
  --color-text: #111827;
  --color-muted-text: #6B7280;
  --color-accent: #F59E0B;
}

html,
body,
#root {
  height: 100%;
}
