@import "tailwindcss";

@theme {
  --color-lime: #44c923;
  --color-slate: #8b9ea5;
  --color-indigo: #2d3047;
  --color-brown: #774e24;
  --color-rose: #f8c7cc;
}

html,
body,
#root {
  height: 100%;
}