@import 'tailwindcss';

@theme {
  --color-lime: #44c923;
  --color-slate: #8b9ea5;
  --color-indigo: #2d3047;
  --color-brown: #774e24;
  --color-rose: #f8c7cc;
  --color-primary: #4f46e5;
  --color-secondary: #22c55e;
  --color-background: #f9fafb;
  --color-surface: #ffebeb;
  --color-text: #111827;
  --color-muted-text: #6b7280;
  --color-accent: #f59e0b;
}

@theme {
  --animate-color-cycle-background: color-cycle 7s ease-in-out infinite;

  @keyframes color-cycle {
    0%,
    50%,
    100% {
      background-color: var(--color-surface);
    }

    25%,
    75% {
      background-color: color-mix(in srgb, var(--color-secondary) 30%, transparent);
    }
  }
}

@theme {
  --shadow-clickable: 5px 5px 5px -5px rgba(0, 0, 0, 1);
}

html,
body,
#root {
  height: 100%;
}
